<%- include("../../layout/head.ejs", {title: "MobileShop - Ads-Slider" }) -%>
<%- include("../../layout/header.ejs") -%>
<%- include("../../layout/sidebar.ejs") -%>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/admin/advertises/sliders"><svg class="glyph stroked home">
            <use xlink:href="#stroked-home"></use>
          </svg></a></li>
      <li class="active">Quản lí quảng cáo</li>
    </ol>
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Danh sách slider</h1>
    </div>
  </div>
  <!--/.row-->

  <div style="margin-bottom: 10px;" class="row">
    <div style="margin-left: 15px;">
      <a href="/admin/advertises/sliders" class="btn btn-warning">
        DANH SÁCH SLIDER
      </a>
      <a href="/admin/advertises/banners" class="btn btn-warning">
        DANH SÁCH BANNER
      </a>
    </div>
  </div>
  <!-- /.row -->

  <div id="toolbar" class="btn-group">
    <% if (role === 'admin') { %>
    <a href="/admin/advertises/sliders/create" class="btn btn-success">
      <i class="glyphicon glyphicon-plus"></i> Thêm slider
    </a>
    <% } else { %>
    <span class="btn btn-primary">Bạn chỉ được xem danh sách</span>
    <% } %>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <% if (sliders && sliders.length > 0) { %>
      <div class="panel panel-default">
        <div class="panel-body">
          <table data-toolbar="#toolbar" data-toggle="table">
            <thead>
              <tr>
                <th data-field="id" data-sortable="true">STT</th>
                <th>Tên nhóm Slider</th>
                <th>Ảnh slider</th>
                <th>Ngày tạo</th>
                <th>Hiển thị</th>
                <% if (role === 'admin') { %>
                <th>Hành động</th>
                <th>Chọn</th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% let i = 1 %>
              <% for (let slider of sliders) { %>
              <tr>
                <td><%=i%></td>
                <td><%=slider?.name%></td>
                <td class="form-group">
                  <% for (let i of slider?.thumbnails) { %>
                  <img style="max-width: 300px; max-height: 80px; padding: 5px;" src="../uploads/images/sliders/<%=i%>" />
                  <% } %>
                </td>
                <td><%=timesAgo(slider?.createdAt)%></td>
                <td>
                  <% if (slider?.allow) { %>
                  <span class="btn btn-success">Đang hiển thị</i></a>
                    <% } else { %>
                    <span class="btn btn-warning">Không hiển thị</i></a>
                      <% } %>
                </td>
                <% if (role === 'admin') { %>
                <td class=" form-group">
                  <% if (slider?.allow) { %>
                  <a style="margin-top: 3px;" href="/admin/advertises/sliders/off/<%=slider?._id%>" class="btn btn-danger">Tắt hiển thị</i></a>
                  <% } else { %>
                  <a href="/admin/advertises/sliders/approve/<%=slider?._id%>" class="btn btn-warning">Cho phép</i></a>
                  <% } %>
                  <a onclick="clickDelete('<%=slider?._id%>')" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                </td>
                <td>
                  <input class="select-checkbox" style="cursor: pointer;" name="idsSlider[]" type="checkbox" value="<%=slider?._id%>" />
                </td>
                <% } %>
              </tr>
              <% i++ %>
              <%} %>
            </tbody>
          </table>
          <% if (role === 'admin') { %>
          <div style="display: flex; justify-content: end; margin-top: 10px;">
            <a style="margin-right: 5px;" onclick="clickDeleteChecked()" class="btn btn-danger">Xóa các ô đã chọn</a>
            <a onclick="selectAllCheckbox()" class="btn btn-warning">Chọn tất cả</a>
          </div>
          <% } %>
        </div>

        <div class="panel-footer">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <% if (currentPage > 1) { %>
              <li class="page-item"><a class="page-link" href="/admin/advertises/slider?page=<%=currentPage - 1%>">&laquo;</a></li>
              <% } %>

              <% pages && pages?.forEach((page) => { %>
              <% if (page === '...') { %>
              <li class="page-item"><span class="page-link"><%=page%></span></li>
              <%} else {%>
              <li class="page-item <%=currentPage == page ? 'active' : ''%>"><a class="page-link" href="/admin/advertises/slider?page=<%=page%>"><%=page%></a></li>
              <% } %>
              <%}) %>


              <% if (currentPage < totalPages ) {%>
              <li class="page-item"><a class="page-link" href="/admin/advertises/slider?page=<%=currentPage + 1%>">&raquo;</a></li>
              <%} %>
          </nav>
        </div>
      </div>
      <% } else { %>
      <div style="margin-top: 10px;" class="panel panel-default">
        <div class="panel-body">
          <span class="text-danger">Chưa có slider nào. Hãy thêm mới..</span>
        </div>
      </div>
      <% } %>
      <!--  -->
    </div>
  </div>
  <!--/.row-->
</div>
<!--/.main-->

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-table.js"></script>

<script>
  function handleConfirm(id, action) {
    const isConfirm = confirm(`Bạn có chắc chắn ${action} không?`)
    const link = () => window.location.href = `/admin/advertises/sliders/${action}/${id}`
    return isConfirm ? link() : false
  }
  const clickDelete = (id) => handleConfirm(id, 'delete')
</script>

<%- include('../../common/allCheckedbox.ejs') -%>

<script>
  function handleChecked(action) {
    const allCheckedbox = document.querySelectorAll('.select-checkbox:checked')
    const arrIdsValue = Array.from(allCheckedbox).map(i => i.value)
    const strIdsValue = arrIdsValue.join(',')
    if (!strIdsValue) {
      alert('Bạn chưa chọn ô nào!')
      return false
    } else {
      const isConfirm = confirm(`Bạn có muốn ${action} các sản phẩm đã chọn không?`)
      const link = () => window.location.href = `/admin/advertises/sliders/${action}/${strIdsValue}`
      return isConfirm ? link() : false
    }
  }
  const clickDeleteChecked = () => handleChecked('delete')
</script>

<%- include("../../layout/footer.ejs") -%>