<%- include("../layout/head.ejs", {title: "Administrator/Categories/Add" }) -%>
<%- include("../layout/header.ejs") -%>
<%- include("../layout/sidebar.ejs") -%>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#"><svg class="glyph stroked home">
            <use xlink:href="#stroked-home"></use>
          </svg></a></li>
      <li><a href="/admin/categories">Quản lý danh mục</a></li>
      <li class="active">Thêm danh mục</li>
    </ol>
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Thêm danh mục</h1>
    </div>
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-8">
            <% if (data && data.error) { %>
            <div class="alert alert-danger"><%=data.error%></div>
            <% } %>
            <form role="form" method="post">
              <div class="form-group">
                <label>Danh mục gốc:</label>
                <select name="cat_parrent" class="form-control">
                  <option value="khong">Không</option>
                  <% if (categories) { %>
                  <% const catId = data?.cat_parrent %>
                  <% const dequy = (data, parrentId, level = 0) => { %>
                  <% data.map(i => { %>
                  <% if (i.cat_parrent?._id.toString() === parrentId) { %>
                  <% const prefix = '--'.repeat(level) %>
                  <option <%= catId == i?.id && 'selected'%> value="<%=i?.id%>"><%=prefix%> <%=i?.title%></option>
                  <% dequy(data, i._id.toString(), level + 1) %>
                  <% } %>
                  <% }) %>
                  <% } %>
                  <% dequy(categories) %>
                  <% } %>
                </select>
                <label>Tên danh mục:</label>
                <input required type="text" name="title" class="form-control" placeholder="Tên danh mục...">
              </div>
              <button type="submit" name="sbm" class="btn btn-success">Thêm mới</button>
              <button type="reset" class="btn btn-default">Làm mới</button>
            </form>
          </div>
        </div>
      </div>
    </div><!-- /.col-->
  </div>
  <!--/.main-->

  <%- include("../layout/footer.ejs") -%>