<%- include("../layout/head.ejs", {title: "MobileShop - Categories" }) -%>
<%- include("../layout/header.ejs") -%>
<%- include("../layout/sidebar.ejs") -%>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#"><svg class="glyph stroked home">
            <use xlink:href="#stroked-home"></use>
          </svg></a></li>
      <li class="active">Quản lý danh mục</li>
    </ol>
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Quản lý danh mục</h1>
    </div>
  </div>
  <!--/.row-->
  <div id="toolbar" class="btn-group">
    <% if (role === 'admin') { %>
    <a href="/admin/categories/create" class="btn btn-success">
      <i class="glyphicon glyphicon-plus"></i> Thêm danh mục
    </a>
    <% } else { %>
    <span class="btn btn-primary">
      Bạn chỉ được xem danh sách
    </span>
    <% } %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% if (categories && categories.length > 0) { %>
      <div class="panel panel-default">
        <div class="panel-body">
          <table data-toolbar="#toolbar" data-toggle="table">
            <thead>
              <tr>
                <th data-field="id" data-sortable="true">STT</th>
                <th>Tên danh mục gốc</th>
                <th>Tên danh mục con</th>
                <% if (role === 'admin') { %>
                <th>Hành động</th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% let index = 1 %>
              <% for (let cat of categories) { %>
              <% if (!cat.cat_parrent) { %>
              <tr>
                <td><%=index%></td>
                <td><%=cat?.title%></td>
                <td id="category-children">
                  <% const dequy = (data, parrentId, level = 1) => { %>
                  <% data.map(i => { %>
                  <% if (!!i.cat_parrent && i.cat_parrent?._id.toString() === parrentId) { %>
                  <li>
                    <span>
                      <span><i><%=level%>/</i> <%=i.title%></span>
                      <% if (role === 'admin') { %>
                      <span>
                        <a onClick="clickAdd('<%=i?._id%>')" class="btn-primary">Thêm</a>
                        <a onClick="clickEdit('<%=i?._id%>')" class="btn-warning">Sửa</a>
                        <a onClick="clickDelete('<%=i?._id%>')" class="btn-danger">Xóa</a>
                      </span>
                      <% } %>
                    </span>
                    <ul><% dequy(data, i?._id.toString(), level + 1) %></ul>
                  </li>
                  <% } %>
                  <% }) %>
                  <% } %>
                  <% dequy(categories, cat._id.toString()) %>
                </td>
                <% if (role === 'admin') { %>
                <td class="form-group">
                  <a onClick="clickEdit('<%=cat._id%>')" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                  <a onClick="clickDelete('<%=cat?._id%>')" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                </td>
                <% } %>
              </tr>
              <% index++ %>
              <% } %>
              <% } %>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <div class="btn-group">
            <a href="/admin/categories/trash" class="btn btn-info">
              <i class="glyphicon glyphicon-trash"></i> Danh mục đã xóa
            </a>
          </div>
        </div>
      </div>
      <% } else { %>
      <div style="margin-top: 10px;" class="panel panel-default">
        <div class="panel-body">
          <span class="text-danger">Chưa có danh mục nào. Hãy thêm mới...</span>
        </div>
      </div>
      <div class="btn-group">
        <a href="/admin/categories/trash" class="btn btn-primary">
          <i class="glyphicon glyphicon-trash"></i> Danh mục đã xóa
        </a>
      </div>
      <% } %>
    </div>
  </div>
</div>
<!--/.main-->

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-table.js"></script>

<script>
  function handleConfirm(id, action) {
    const isConfirm = confirm(`Bạn có chắc chắn ${action} không?`)
    const link = () => window.location.href = `/admin/categories/${action}/${id}`
    return isConfirm ? link() : false
  }
  const clickEdit = (id) => handleConfirm(id, 'edit')
  const clickDelete = (id) => handleConfirm(id, 'delete')
  const clickAdd = (id) => {
    const addConfirm = confirm('Bạn có muốn thêm mới?')
    const linkAdd = () => window.location.href = `/admin/categories/create?cat_parrent=${id}`
    return addConfirm ? linkAdd() : false
  }
</script>

<%- include("../layout/footer.ejs") -%>