<%- include("../layout/head.ejs", {title: "MobileShop - Products" }) -%>
<%- include("../layout/header.ejs") -%>
<%- include("../layout/sidebar.ejs") -%>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/admin/products"><svg class="glyph stroked home">
            <use xlink:href="#stroked-home"></use>
          </svg></a></li>
      <li class="active">Danh sách sản phẩm</li>
    </ol>
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Danh sách sản phẩm</h1>
    </div>
  </div>
  <!--/.row-->
  <div id="toolbar" class="btn-group">
    <% if (role === 'admin') { %>
    <a href="/admin/products/create" class="btn btn-success">
      <i class="glyphicon glyphicon-plus"></i> Thêm sản phẩm
    </a>
    <% } else { %>
    <span class="btn btn-primary">
      Bạn chỉ được quyền xem danh sách sản phẩm
    </span>
    <% } %>
  </div>
  <div style="display: flex; justify-content: flex-end; align-items: center;">
    <b style="margin-right: 5px;">Filter:</b>
    <div>
      <select onChange="changeFilter(this)" class="form-control">
        <option value="123">Tất cả</option>
        <% if (categories && categories.length > 0) { %>
        <% const dequy = (data, parrentId, index = -2) => { %>
        <% let prefix %>
        <% if (index >= 0) { prefix = '--'.repeat(index)} %>
        <% data.map(i => { %>
        <% if (i.cat_parrent?._id.toString() === parrentId) { %>
        <% if (index >= 0) { %>
        <option value="<%=i?.id%>" <%=currentFilterCat == i?.id && 'selected'%>><%=prefix%> <%=i?.title%></option>
        <% } %>
        <% dequy(data, i._id.toString(), index + 1) %>
        <% } %>
        <% }) %>
        <% } %>
        <% dequy(categories) %>
        <% } %>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <% if (products && products.length > 0) {%>
      <div class="panel panel-default">
        <div class="panel-body">
          <table data-toolbar="#toolbar" data-toggle="table">
            <thead>
              <tr>
                <th data-field="id" data-sortable="true">STT</th>
                <th data-field="name" data-sortable="true">Tên sản phẩm</th>
                <th data-field="price" data-sortable="true">Giá</th>
                <th>Ảnh sản phẩm</th>
                <th>Trạng thái</th>
                <th>Danh mục</th>
                <% if (role === 'admin') { %>
                <th>Hành động</th>
                <th>Chọn</th>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% let index = 1 %>
              <% for (let product of products) { %>
              <tr>
                <td><%=index%></td>
                <td><%=product?.name%></td>
                <td><%=vndPrice(product?.price)%> vnd</td>
                <td class="slide-show-td">
                  <div class="slide-show">
                    <div class="list-images">
                      <img src="../uploads/images/<%=product?.thumbnails[0]%>" />
                    </div>
                  </div>
                </td>
                <td><span class="label <%=product?.is_stock ? 'label-success' : 'label-danger'%>"><%=product?.is_stock ? "Còn hàng" : "Hết hàng"%></span></td>
                <td><%=product?.cat_id?.title%></td>
                <% if (role === 'admin') { %>
                <td class=" form-group">
                  <a href="/admin/products/edit/<%=product?._id%>" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                  <a onclick="clickDelete('<%=product?._id%>')" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                </td>
                <td>
                  <input class="select-checkbox" style="cursor: pointer;" name="idsPrd[]" type="checkbox" value="<%=product?._id%>" />
                </td>
                <% } %>
              </tr>
              <% index++ %>
              <% } %>
            </tbody>
          </table>
          <% if (role === 'admin') { %>
          <div style="display: flex; justify-content: end; margin-top: 10px;">
            <a onclick="clickDeleteChecked()" class="btn btn-danger" style="margin-right: 5px;">Xóa các ô đã chọn</a>
            <a onclick="selectAllCheckbox()" class="btn btn-warning">Chọn tất cả</a>
          </div>
          <% } %>
        </div>

        <div class="panel-footer">
          <div id="toolbar" class="btn-group">
            <a href="/admin/products/trash" class="btn btn-info">
              <i class="glyphicon glyphicon-trash"></i> Sản phẩm đã xóa
            </a>
          </div>

          <nav aria-label="Page navigation example">
            <% if (currentFilterCat) { %>
            <ul class="pagination">
              <% if (currentPage > 1) { %>
              <li class="page-item"><a class="page-link" href="/admin/products?filter_cat=<%=currentFilterCat%>&page=<%=currentPage - 1%>">&laquo;</a></li>
              <% } %>

              <% pages?.forEach((page) => { %>
              <% if (page === '...') { %>
              <li class="page-item"><span class="page-link"><%=page%></span></li>
              <%} else {%>
              <li class="page-item <%=currentPage == page ? 'active' : ''%>"><a class="page-link" href="/admin/products?filter_cat=<%=currentFilterCat%>&page=<%=page%>"><%=page%></a></li>
              <% } %>
              <%}) %>

              <% if (currentPage < totalPages ) {%>
              <li class="page-item"><a class="page-link" href="/admin/products?filter_cat=<%=currentFilterCat%>&page=<%=currentPage + 1%>">&raquo;</a></li>
              <%} %>
            </ul>
            <% } else { %>
            <ul class="pagination">
              <% if (currentPage > 1) { %>
              <li class="page-item"><a class="page-link" href="/admin/products?page=<%=currentPage - 1%>">&laquo;</a></li>
              <% } %>

              <% pages?.forEach((page) => { %>
              <% if (page === '...') { %>
              <li class="page-item"><span class="page-link"><%=page%></span></li>
              <%} else {%>
              <li class="page-item <%=currentPage == page ? 'active' : ''%>"><a class="page-link" href="/admin/products?page=<%=page%>"><%=page%></a></li>
              <% } %>
              <%}) %>

              <% if (currentPage < totalPages ) {%>
              <li class="page-item"><a class="page-link" href="/admin/products?page=<%=currentPage + 1%>">&raquo;</a></li>
              <%} %>
            </ul>
            <% } %>
          </nav>
        </div>
      </div>
      <% } else { %>
      <div style="margin-top: 10px;" class="panel panel-default">
        <div class="panel-body">
          <span class="text-danger">Chưa sản phẩm nào. Hãy thêm mới...</span>
        </div>
      </div>
      <div class="btn-group">
        <a href="/admin/products/trash" class="btn btn-primary">
          <i class="glyphicon glyphicon-trash"></i> Sản phẩm đã xóa
        </a>
      </div>
      <% } %>
      <!--  -->
    </div>
  </div>
  <!--/.row-->
</div>
<!--/.main-->

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-table.js"></script>

<script>
  function handleConfirm(id, action) {
    const isConfirm = confirm(`Bạn có chắc chắn ${action} không?`)
    const link = () => window.location.href = `/admin/products/${action}/${id}`
    return isConfirm ? link() : false
  }
  const clickDelete = (id) => handleConfirm(id, 'delete')
</script>

<%- include('../common/allCheckedbox.ejs') -%>

<script>
  function handleChecked(action) {
    const allCheckedbox = document.querySelectorAll('.select-checkbox:checked')
    const arrIdsValue = Array.from(allCheckedbox).map(i => i.value)
    const strIdsValue = arrIdsValue.join(',')
    if (!strIdsValue) {
      alert('Bạn chưa chọn ô nào!')
      return false
    } else {
      const isConfirm = confirm(`Bạn có muốn ${action} các sản phẩm đã chọn không?`)
      const link = () => window.location.href = `/admin/products/${action}/${strIdsValue}`
      return isConfirm ? link() : false
    }
  }
  const clickDeleteChecked = () => handleChecked('delete')
</script>

<script>
  function changeFilter(option) {
    const filterCat = option.value
    const link = () => window.location.href = `/admin/products`
    const linkFilter = () => window.location.href = `/admin/products?filter=${filterCat}`
    return filterCat === '123' ? link() : linkFilter()
  }
</script>

<%- include("../layout/footer.ejs") -%>